/*
Colores & tipografía: 
Verde - #ABE188;
Rosa - #F78E69;
font-family: 'Raleway', sans-serif;
*/

/* Escribe tu código acá debajo */

*{
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "Raleway", sans-serif;
	margin: 0;
	padding: 0;
	display:inline-block;
}

.primera-seccion{
	width: 100%;
	height: 150px;
	background-color: #F78E69;
	display: inline-block;
}
h1{
	font-size: 40px;
	color: white;
	text-align: right;
	padding: 0 30px 0 0;
}
h2{
	font-size: 20px;
	color: white;
	text-align: right;
	padding: 0 30px 0 0;
}
img{
	width: 100%;
}
.fotos-grandes{
	width: 100%;
	padding: 20px 0;
	background-color: #F78E69;
}
.fotos-pequenas{
	width: 120px;
}
.texto-largo{
	width: 40%;
	background-color: #F78E69;
	height: 332px;
	margin: 0 auto;
	position: relative;
	top: 4%;

}
section.texto-principal {
    background-color: #ABE188;
    padding: 4px;
    height: 427px;

}
section.texto-principal h3{
	color: white;
	text-align: center;
	padding: 24px 0 0;

}
.texto-largo p{
	color: white;
	font-size: 15px;
	padding: 0 28px;
	line-height: 20.5px;
}

.fotos-listas h3{
	color: white;
	text-align: center;
	padding: 24px 0 0;
	font-size: 40px;
}
.fotos-listas{
	width: 100%;
	background-color: #ABE188;
	height: 450px;
	padding: 20px;
}
li{
	text-decoration: none;
	display: inline-block;
	border-style: solid;
    border-width: 8px;
    border-color: white;
    margin: 26px;
}
ul#arreglopandas{
	text-align: center;
	border-style: 2px white solid;
}
footer{
	background-color: #F78E69;
	text-align: right;
	font-size: 20px;
	color: white;
	padding: 20px;
}